# What this file does

I got Age by Sex by Ambulatory Disability estimates from Factfinder. (source: https://factfinder.census.gov/faces/nav/jsf/pages/index.xhtml, table: B18105 "Age by Sex by Ambulatory Disability", 2017 5-year estimates) I combined male and female estimates by census tract, wrangled the data for a join and finally joined everything in a QJIS analysis. (ambulatory-disability)

Major caveat: The maps don't represent the margins of error that accompany estimates of males and females between 5-17 with ambulatory disabilities. Use with caution.

# Findings

#TBD on the intepretation

In [69]:
import pandas as pd

In [2]:
!ls

ACS_17_5YR_B18105.txt          Untitled.ipynb
ACS_17_5YR_B18105_metadata.csv aff_download_readme_ann.txt
ACS_17_5YR_B18105_with_ann.csv

# Filtering for relevant data

In [ ]:
#source: https://factfinder.census.gov/faces/nav/jsf/pages/index.xhtml, table: B18105 "Age by Sex by Ambulatory Disability", 2017 5-year estimates

In [188]:
df = pd.read_csv('ACS_17_5YR_B18105_with_ann.csv',skiprows=1)

In [189]:
#skipped row so names would be these instead of the numbers

In [190]:
df.dtypes.head(20)

Id                                                                          object
Id2                                                                          int64
Geography                                                                   object
Estimate; Total:                                                             int64
Margin of Error; Total:                                                      int64
Estimate; Male:                                                              int64
Margin of Error; Male:                                                       int64
Estimate; Male: - 5 to 17 years:                                             int64
Margin of Error; Male: - 5 to 17 years:                                      int64
Estimate; Male: - 5 to 17 years: - With an ambulatory difficulty             int64
Margin of Error; Male: - 5 to 17 years: - With an ambulatory difficulty      int64
Estimate; Male: - 5 to 17 years: - No ambulatory difficulty                  int64
Margin of Error; Male: - 5 to 17 years: - No ambulatory difficulty           int64
Estimate; Male: - 18 to 34 years:                                            int64
Margin of Error; Male: - 18 to 34 years:                                     int64
Estimate; Male: - 18 to 34 years: - With an ambulatory difficulty            int64
Margin of Error; Male: - 18 to 34 years: - With an ambulatory difficulty     int64
Estimate; Male: - 18 to 34 years: - No ambulatory difficulty                 int64
Margin of Error; Male: - 18 to 34 years: - No ambulatory difficulty          int64
Estimate; Male: - 35 to 64 years:                                            int64
dtype: object

In [191]:
#columns I want

In [192]:
df_final = df[['Geography','Estimate; Male: - 5 to 17 years: - With an ambulatory difficulty','Estimate; Female: - 5 to 17 years: - With an ambulatory difficulty','Margin of Error; Male: - 5 to 17 years: - With an ambulatory difficulty','Margin of Error; Female: - 5 to 17 years: - With an ambulatory difficulty']]

In [193]:
df_final['County'] = df_final['Geography'].str.extract(r'.*,(.*County),.*')

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [194]:
#isolating nyc

In [195]:
df_nyc = df_final[(df_final['County']==' New York County')|(df_final['County']==' Bronx County')| (df_final['County']==' Queens County')|((df_final['County']==' Richmond County'))|(df_final['County']==' Queens County')|((df_final['County']==' Kings County'))]

In [196]:
#trailing spaces! watch out

In [197]:
df_final['County'].unique()

array([' Albany County', ' Allegany County', ' Bronx County',
       ' Broome County', ' Cattaraugus County', ' Cayuga County',
       ' Chautauqua County', ' Chemung County', ' Chenango County',
       ' Clinton County', ' Columbia County', ' Cortland County',
       ' Delaware County', ' Dutchess County', ' Erie County',
       ' Essex County', ' Franklin County', ' Fulton County',
       ' Genesee County', ' Greene County', ' Hamilton County',
       ' Herkimer County', ' Jefferson County', ' Kings County',
       ' Lewis County', ' Livingston County', ' Madison County',
       ' Monroe County', ' Montgomery County', ' Nassau County',
       ' New York County', ' Niagara County', ' Oneida County',
       ' Onondaga County', ' Ontario County', ' Orange County',
       ' Orleans County', ' Oswego County', ' Otsego County',
       ' Putnam County', ' Queens County', ' Rensselaer County',
       ' Richmond County', ' Rockland County', ' St. Lawrence County',
       ' Saratoga County', ' Schenectady County', ' Schoharie County',
       ' Schuyler County', ' Seneca County', ' Steuben County',
       ' Suffolk County', ' Sullivan County', ' Tioga County',
       ' Tompkins County', ' Ulster County', ' Warren County',
       ' Washington County', ' Wayne County', ' Westchester County',
       ' Wyoming County', ' Yates County', nan], dtype=object)

In [198]:
#save nyc dataframe

In [199]:
df_nyc['total'] = df_nyc['Estimate; Male: - 5 to 17 years: - With an ambulatory difficulty'] + df_nyc['Estimate; Female: - 5 to 17 years: - With an ambulatory difficulty']

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [200]:
# we need to talk to a statistician about this!

In [201]:
df_nyc.County.value_counts()

 Kings County       761
 Queens County      669
 Bronx County       339
 New York County    288
 Richmond County    110
Name: County, dtype: int64

In [202]:
#basic sort

In [203]:
df_nyc.sort_values(by='total', ascending=False)

,Geography,Estimate; Male: - 5 to 17 years: - With an ambulatory difficulty,Estimate; Female: - 5 to 17 years: - With an ambulatory difficulty,Margin of Error; Male: - 5 to 17 years: - With an ambulatory difficulty,Margin of Error; Female: - 5 to 17 years: - With an ambulatory difficulty,County,total
3642,"Census Tract 809, Queens County, New York",139,0,185,16,Queens County,139
3686,"Census Tract 972.03, Queens County, New York",36,89,58,99,Queens County,125
192,"Census Tract 173, Bronx County, New York",38,46,67,76,Bronx County,84
423,"Census Tract 462.02, Bronx County, New York",41,41,64,65,Bronx County,82
3449,"Census Tract 481, Queens County, New York",81,0,89,16,Queens County,81
...,...,...,...,...,...,...,...
1613,"Census Tract 610.03, Kings County, New York",0,0,11,11,Kings County,0
1612,"Census Tract 610.02, Kings County, New York",0,0,11,11,Kings County,0
1611,"Census Tract 608, Kings County, New York",0,0,11,11,Kings County,0
1610,"Census Tract 606, Kings County, New York",0,0,11,11,Kings County,0
3953,"Census Tract 9901, Richmond County, New York",0,0,11,11,Richmond County,0

In [204]:
df_nyc

,Geography,Estimate; Male: - 5 to 17 years: - With an ambulatory difficulty,Estimate; Female: - 5 to 17 years: - With an ambulatory difficulty,Margin of Error; Male: - 5 to 17 years: - With an ambulatory difficulty,Margin of Error; Female: - 5 to 17 years: - With an ambulatory difficulty,County,total
88,"Census Tract 1, Bronx County, New York",0,0,16,16,Bronx County,0
89,"Census Tract 2, Bronx County, New York",0,0,16,16,Bronx County,0
90,"Census Tract 4, Bronx County, New York",0,0,16,16,Bronx County,0
91,"Census Tract 16, Bronx County, New York",0,0,16,16,Bronx County,0
92,"Census Tract 19, Bronx County, New York",0,0,11,11,Bronx County,0
...,...,...,...,...,...,...,...
3949,"Census Tract 303.02, Richmond County, New York",0,0,16,16,Richmond County,0
3950,"Census Tract 319.01, Richmond County, New York",20,11,32,17,Richmond County,31
3951,"Census Tract 319.02, Richmond County, New York",0,0,16,16,Richmond County,0
3952,"Census Tract 323, Richmond County, New York",0,0,11,11,Richmond County,0
3953,"Census Tract 9901, Richmond County, New York",0,0,11,11,Richmond County,0

# Massaging the data to get it ready for a join

In [205]:
df_nyc['tract_no'] = df_nyc['Geography'].str.extract(r'Census Tract (.*),.*,.*')

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [206]:
df_nyc['tract_no'] = df_nyc['tract_no'].astype(float)

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [207]:
df_nyc

,Geography,Estimate; Male: - 5 to 17 years: - With an ambulatory difficulty,Estimate; Female: - 5 to 17 years: - With an ambulatory difficulty,Margin of Error; Male: - 5 to 17 years: - With an ambulatory difficulty,Margin of Error; Female: - 5 to 17 years: - With an ambulatory difficulty,County,total,tract_no
88,"Census Tract 1, Bronx County, New York",0,0,16,16,Bronx County,0,1.00
89,"Census Tract 2, Bronx County, New York",0,0,16,16,Bronx County,0,2.00
90,"Census Tract 4, Bronx County, New York",0,0,16,16,Bronx County,0,4.00
91,"Census Tract 16, Bronx County, New York",0,0,16,16,Bronx County,0,16.00
92,"Census Tract 19, Bronx County, New York",0,0,11,11,Bronx County,0,19.00
...,...,...,...,...,...,...,...,...
3949,"Census Tract 303.02, Richmond County, New York",0,0,16,16,Richmond County,0,303.02
3950,"Census Tract 319.01, Richmond County, New York",20,11,32,17,Richmond County,31,319.01
3951,"Census Tract 319.02, Richmond County, New York",0,0,16,16,Richmond County,0,319.02
3952,"Census Tract 323, Richmond County, New York",0,0,11,11,Richmond County,0,323.00
3953,"Census Tract 9901, Richmond County, New York",0,0,11,11,Richmond County,0,9901.00

In [208]:
df_nyc.to_csv('data-cleaned-ambulatory.csv')

In [209]:
df2 = pd.read_csv('data-cleaned-ambulatory.csv')

In [210]:
def county_code(x):
    if x ==' Bronx County':
        return 2
    if x ==' New York County':
        return 1
    if x ==' Queens County':
        return 4
    if x ==' Kings County': 
        return 3
    if x ==' Richmond County':
        return 5

In [211]:
df2['County_code'] = df2['County'].apply(lambda x: county_code(x))

In [212]:
df2

,Unnamed: 0,Geography,Estimate; Male: - 5 to 17 years: - With an ambulatory difficulty,Estimate; Female: - 5 to 17 years: - With an ambulatory difficulty,Margin of Error; Male: - 5 to 17 years: - With an ambulatory difficulty,Margin of Error; Female: - 5 to 17 years: - With an ambulatory difficulty,County,total,tract_no,County_code
0,88,"Census Tract 1, Bronx County, New York",0,0,16,16,Bronx County,0,1.00,2
1,89,"Census Tract 2, Bronx County, New York",0,0,16,16,Bronx County,0,2.00,2
2,90,"Census Tract 4, Bronx County, New York",0,0,16,16,Bronx County,0,4.00,2
3,91,"Census Tract 16, Bronx County, New York",0,0,16,16,Bronx County,0,16.00,2
4,92,"Census Tract 19, Bronx County, New York",0,0,11,11,Bronx County,0,19.00,2
...,...,...,...,...,...,...,...,...,...,...
2162,3949,"Census Tract 303.02, Richmond County, New York",0,0,16,16,Richmond County,0,303.02,5
2163,3950,"Census Tract 319.01, Richmond County, New York",20,11,32,17,Richmond County,31,319.01,5
2164,3951,"Census Tract 319.02, Richmond County, New York",0,0,16,16,Richmond County,0,319.02,5
2165,3952,"Census Tract 323, Richmond County, New York",0,0,11,11,Richmond County,0,323.00,5
2166,3953,"Census Tract 9901, Richmond County, New York",0,0,11,11,Richmond County,0,9901.00,5

In [213]:
round(1145.40)

1145

In [214]:
def numLen(num):
    return len(str(round(num)))

In [215]:
numLen(113.50)

3

In [216]:
def moving_zeroes(x):

    if numLen(x)==4:
        return int(x*100)
    
    if  numLen(x)==3:
        return '0'+ str(int(x*100))
    
    if  numLen(x)==2:
        return '00'+ str(int(x*100))
    
    if numLen(x)==1:
        return '000'+ str(int(x*100))

In [217]:
#test cases 

print(moving_zeroes(1145))
print(moving_zeroes(1145.40))

print(moving_zeroes(113))
print(moving_zeroes(114.40))
print(moving_zeroes(114.45))
print(moving_zeroes(28.45))
print(moving_zeroes(55))
print(moving_zeroes(344))
print(moving_zeroes(1))

114500
114540
011300
011440
011445
002845
005500
034400
000100

In [218]:
df2['adjusted_zeroes'] = df2['tract_no'].apply(lambda x: moving_zeroes(x))

In [219]:
df2[['adjusted_zeroes', 'tract_no']]

     adjusted_zeroes  tract_no
0             000100      1.00
1             000200      2.00
2             000400      4.00
3             001600     16.00
4             001900     19.00
...              ...       ...
2162          030302    303.02
2163          031901    319.01
2164          031902    319.02
2165          032300    323.00
2166          990100   9901.00

[2167 rows x 2 columns]

In [220]:
df2['boro_ct201'] = df2['County_code'].astype(str) + df2['adjusted_zeroes'].astype(str)

In [221]:
df2.to_csv('final_cleaned_ct_disability.csv')

In [222]:
df_check = pd.read_csv('final_cleaned_ct_disability.csv')

In [223]:
df_check['County_code'].value_counts()

3    761
4    669
2    339
1    288
5    110
Name: County_code, dtype: int64

In [224]:
df_check['County'].value_counts()

 Kings County       761
 Queens County      669
 Bronx County       339
 New York County    288
 Richmond County    110
Name: County, dtype: int64